<style>
  #logo svg,
  #logo svg * {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
    fill: #282828 !important;
    fill: var(--MENU-SECTIONS-BG-color) !important;
    opacity: .945;
  }
  a#logo {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
    font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    margin-top: -.8125rem;
    max-width: 60%;
    text-transform: uppercase;
    width: 14.125rem;
    white-space: nowrap;
  }
  a#logo:hover {
    color: #282828;
    color: var(--MENU-SECTIONS-BG-color);
  }
  #logo svg {
    /* preserveAspectRatio: "xMidYMid meet"; */
    height: 1.25em;
    margin-bottom: -.25em;
    margin-inline-start: -1.47rem;
    /* width: 40.5%; */
  }
  @media only all and (max-width: 60rem) {
    a#logo {
      font-size: 1.5625rem;
      margin-top: -.1875rem;
    }
    #logo svg {
      {{/*  margin-bottom: -.75rem;  */}}
      margin-inline-start: -1.47rem;
    }
  }
  @media all and (-ms-high-contrast:none) {
    {{ "/* IE11s understanding of positioning is weird at best */" | safeCSS }}
    a#logo {
      margin-top: -3.625rem;
    }
    #logo svg {
      {{/*  margin-bottom: -3.875rem;  */}}
      margin-left: -1.47rem;
    }
  }
  @media only all and (-ms-high-contrast:none) and (max-width: 60rem) {
    #logo svg {
      margin-left: -1.47rem;
    }
  }
</style>
<a id="logo" href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Site.Home) }}">
  <!-- <i class="fas fa-atlas"></i> -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
    <path d="M318.38 208h-39.09c-1.49 27.03-6.54 51.35-14.21 70.41 27.71-13.24 48.02-39.19 53.3-70.41zm0-32c-5.29-31.22-25.59-57.17-53.3-70.41 7.68 19.06 12.72 43.38 14.21 70.41h39.09zM224 97.31c-7.69 7.45-20.77 34.42-23.43 78.69h46.87c-2.67-44.26-15.75-71.24-23.44-78.69zm-41.08 8.28c-27.71 13.24-48.02 39.19-53.3 70.41h39.09c1.49-27.03 6.53-51.35 14.21-70.41zm0 172.82c-7.68-19.06-12.72-43.38-14.21-70.41h-39.09c5.28 31.22 25.59 57.17 53.3 70.41zM247.43 208h-46.87c2.66 44.26 15.74 71.24 23.43 78.69 7.7-7.45 20.78-34.43 23.44-78.69zM448 358.4V25.6c0-16-9.6-25.6-25.6-25.6H96C41.6 0 0 41.6 0 96v320c0 54.4 41.6 96 96 96h326.4c12.8 0 25.6-9.6 25.6-25.6v-16c0-6.4-3.2-12.8-9.6-19.2-3.2-16-3.2-60.8 0-73.6 6.4-3.2 9.6-9.6 9.6-19.2zM224 64c70.69 0 128 57.31 128 128s-57.31 128-128 128S96 262.69 96 192 153.31 64 224 64zm160 384H96c-19.2 0-32-12.8-32-32s16-32 32-32h288v64z"/>
  </svg>
  Notebook
</a>