
span.copy-to-clipboard {
    display: inline;
    white-space: normal;
}

code.copy-to-clipboard-code {
    white-space: normal;
}

span.tt {
    background-color: var(--INTERNAL-CODE-INLINE-BG-color);
    border-color: var(--INTERNAL-CODE-INLINE-BORDER-color);
    font-family: var(--INTERNAL-CODE-font);
    /* font-family: monospace; */
    font-size: 0.9em;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    -webkit-print-color-adjust: economy;
    print-color-adjust: economy;
    padding-left: 2px;
    padding-right: 2px;
}